name: Release that
on: [push, pull_request]
jobs:
  os-testing:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    concurrency:
      group: os-testing-${{ github.ref }}-${{ github.event_name }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # test 1
      - name: Test 'dry-run' input
        uses: ./
        with:
          dry-run: true

      # test 2
      - name: Test 'without-prefix' input
        uses: ./
        with:
          dry-run: true
          without-prefix: true

      # test 3
      - name: Test 'major-tag=true' input
        uses: ./
        with:
          dry-run: true
          major-tag: true

      # test 4
      - name: Test 'major-tag=false' input
        uses: ./
        with:
          dry-run: true
          major-tag: false

      # test 5
      - name: Test 'major-tag=auto' input
        uses: ./
        with:
          dry-run: true
          major-tag: auto

  release:
    runs-on: ubuntu-latest
    needs: os-testing
    concurrency:
      group: release-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - name: Release That
        uses: ./
